<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.sdu.online.isdu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.EditProfileActivity" />
        <activity android:name=".ui.activity.MyHomePageActivity" />
        <activity android:name=".ui.activity.ScheduleActivity" />

        <!-- UCrop Activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.edu.sdu.online.isdu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".ui.activity.LibraryActivity" />
        <activity android:name=".ui.activity.SchoolBusActivity" />
        <activity android:name=".ui.activity.CalendarActivity" />
        <activity android:name=".ui.activity.ExamActivity" />
        <activity android:name=".ui.activity.StudyRoomActivity" />
        <activity android:name=".ui.activity.GradeActivity" />
        <activity android:name=".ui.activity.CloudActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.ScheduleDetailActivity" />
        <activity android:name=".ui.activity.CreateScheduleActivity" />
        <activity android:name=".ui.activity.SchoolBusTable" />

        <activity android:name=".ui.activity.ViewImageActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.NewsActivity" />
        <activity android:name=".ui.activity.DownloadActivity"
            android:launchMode="singleInstance"/>
        <receiver android:name=".util.broadcast.DownloadBroadcastReceiver">
            <intent-filter>
                <action android:name="download_open" />
                <action android:name="download_pause" />
                <action android:name="download_cancel" />
                <action android:name="download_start" />
            </intent-filter>
        </receiver>

    </application>

</manifest>